<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-4.0.xsd">
    
   
    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
    
    <http pattern="/jsp/admin-login" security="none"/>
    <http pattern="/post/all" security="none" />
    <http pattern="/post/show/{id}" security="none" />
    <http pattern="/page/all" security="none" />
    <http pattern="/page/show/{id}" security="none" />
    <http pattern="/index" security="none"/>
    <http pattern="/contact" security="none"/>
    <http pattern="/navbar" security="none"/>
    <http pattern="/footer" security="none"/>
    <http pattern="/showallpost" security="none"/>
    <http pattern="/showpage" security="none"/>
    <http pattern="/jsp/showpage.jsp" security="none"/>
    <http pattern="/showpost" security="none"/>
    <http pattern="/jsp/showpost.jsp" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    
    <http auto-config="true" use-expressions="false">
        <csrf disabled="true" />
        
        <form-login login-processing-url="/login/authenticate"
                    login-page="/admin-login"
                    authentication-failure-url="/admin-login?login_error=1"
        />
        
        <logout logout-success-url="/admin-login"/>
        
        <intercept-url pattern="/page/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/admin" access="ROLE_ADMIN" />
        <intercept-url pattern="/post/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/category/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/user/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/jsp/**" access="ROLE_ADMIN" />
        
    </http>
    
    <authentication-manager>
        
        <authentication-provider>
            
            <password-encoder ref="encoder" />
            
            <jdbc-user-service data-source-ref="datasource"
            id="userService"
            users-by-username-query="select username, password, enabled from users where username = ?"
            authorities-by-username-query="select u.username, a.authority from authorities a join users u on a.user_id = u.id where u.username = ?"
            />
            
        </authentication-provider>
        
    </authentication-manager>
     
</beans:beans>